body {
  font-family: "Nunito", sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  top: 0;
}

.title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.date {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
}

.logout-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f6725c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn i {
  margin-right: 10px;
}

.logout-btn:hover {
  background-color: #e05a4f;
}

/* Logo */
.logo-container {
  margin-top: 80px;
  text-align: center;
}

.logo {
  width: 250px;
}

/* Portal Buttons */
.portals {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

