.register-students-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100vh;
    background-color: #ffffff;
    margin-top: 100px;
}

form {
    padding: 30px;
}

.actions {
    margin-top: 20px;
}


form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.register-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}